/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Raleway', sans-serif;
}

div {
  font-family: 'Raleway', sans-serif;
}

button {
  font-family: 'Shippori Antique B1', sans-serif;
}
